{% assign honors = site.data.data.honors %}
{% if honors %}
<section class="section honors-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ honors.title }}
  </h2>

  <h4 class="level-title">{{ honors.item1 }}</h4>

  {% for honor in honors.honor1 %}
  <div class="item">
    {% if honor.link %}
      <li><a href="{{ honor.link }}">{{ honor.title}}</a></li>
    {% else %}
      <li>{{ honor.title }}</li>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

  <h4 class="level-title">{{ honors.item2 }}</h4>

  {% for honor in honors.honor2 %}
  <div class="item">
    {% if honor.link %}
      <li><a href="{{ honor.link }}">{{ honor.title}}</a></li>
    {% else %}
      <li>{{ honor.title }}</li>
    {% endif %}
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
