{% assign honors = site.data.data.honors %}
{% if honors %}
<section class="section honors-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ honors.title }}
  </h2>

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="honor-title">{{ honors.item1 }}</h3>
      </div><!--//upper-row-->
    </div><!--//meta-->

    <div class="details">
      {% for honor in honors.honor1 %}
        {% if honor.link %}
          <li><a href="{{ honor.link }}">{{ honor.title}}</a></li>
        {% else %}
          <li>{{ honor.title }}</li>
        {% endif %}
      {% endfor %}
    </div><!--//details-->
  </div><!--//item-->

  <div class="upper-row">
    <h3 class="job-title">{{ honors.item2 }}</h3>
  </div><!--//upper-row-->

  {% for honor in honors.honor2 %}
  {% if honor.link %}
    <li><a href="{{ honor.link }}">{{ honor.title}}</a></li>
  {% else %}
    <li>{{ honor.title }}</li>
  {% endif %}
  {% endfor %}

</section><!--//section-->
{% endif %}
