{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    个人简介
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests %}

      <li>东南大学交通学院桥梁系研三学生，隶属本系<a href="https://mp.weixin.qq.com/s/6URtYgNhKh2wmaegpLi0JQ"><b><u>长大桥梁建管养与新型组合结构桥梁研发中心</u></b></a>，主要研究方向：新型组合结构桥梁、工程逆问题、桥梁施工与工程控制。</li>
      <li>志于学科交叉研究，具备<a href="https://coursera.org/share/d6cd0aa67e414c0a7ddf23db8758deae"><b><u>深度学习</u></b></a>，<a href="https://coursera.org/share/cc9ef0a0042bf10c00a79bfb5cddb432"><b><u>Javascript，HTML5 & CSS</u></b></a>相关经验。(点击下划线文字查看相关证书)</li>

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
