---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
	<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">首页</a>
    <a href="#education" class="w3-bar-item w3-button w3-padding-large w3-hide-small">教育经历</a>
    <a href="#honors" class="w3-bar-item w3-button w3-padding-large w3-hide-small">荣誉获奖</a>
    <a href="#experiences" class="w3-bar-item w3-button w3-padding-large w3-hide-small">项目经历</a>
    <a href="#publications" class="w3-bar-item w3-button w3-padding-large w3-hide-small">学术成果</a>
    <a href="#activities" class="w3-bar-item w3-button w3-padding-large w3-hide-small">社团组织经历</a>
    <a href="#skills" class="w3-bar-item w3-button w3-padding-large w3-hide-small">专业技能</a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#education" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">教育经历</a>
  <a href="#honors" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">荣誉获奖</a>
  <a href="#experiences" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">项目经历</a>
  <a href="#publications" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">学术成果</a>
  <a href="#activities" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">社团组织经历</a>
  <a href="#skills" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">专业技能</a>
</div>

  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>
